.Degrade {
    background-image:linear-gradient(#767bff, #a91ee9);
}
body{
    color: #ffffff;
}
h1{
    font-weight: lighter;
}
h1 span{
    font-weight: bold;
}
hr.vertical{
    border:         none;
    border-left:    1px solid #ffffff;
    height:         50%;
    width:          1px;
}
hr.horizontal{
    border:         none;
    border-left:    1px solid #ffffff;
    height:         1px;
    width:          30%;
    text-align: center;
}
.flaticon{
    opacity: 0.5;
}
.rs button{
    font-size: 14px;
}
.login {
    background: rgba(0,0,0,0.5);
}
.login>div>div>p{
    opacity: 0.7;
}